/* common css st */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    scroll-behavior: smooth;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 4000px;
}
nav{
    background-color: #fff;
    box-shadow: 3px 3px 30px #888;
    width: 100%;
    padding: 30px;
}
nav .active{
    position: fixed;
    top: 0;
    animation: animate 0.5s linear;
}
@keyframes animate{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

.scroll{
    height: 80px;
    width: 80px;
    background: conic-gradient(red, green);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
}